/* Color rosado para textos e iconos */
.text-rosado {
    color: #B52CD0 !important;
}

.text-morado {
    color: #7828D8 !important;
}

/* Color rosado para bordes */
.border-rosado {
    border-color: #B52CD0 !important;
}

.border-inicio{
    background-color: #f8f9fa; 
    border-left: 6px solid #B52CD0;
}

.border-morado {
    border-color: #7828D8 !important;
}

.fondo-rosado {
    background-color: #B52CD0 !important;
    color: #fff !important;
}

.fondo-morado {
    background-color: #7828D8 !important;
    color: #fff !important;
}

/* Justificar el texto de todos los acordeones de terminos y usos*/
.accordion-body {
    text-align: justify;
}

/*Menu fijo de comercializacion*/
.catalogo-fijo{
    top: 2rem; 
    z-index: 1;
}

.card-importante{
    border-color: #e0e5ea !important;
}
